body{

width: 35%;
margin: 0 auto;
font-size: 20px;
background-color: black;
margin-top: 50px;
text-align: center;
}
/*
no need to copy above code into your profile css text file just for looks on the editor torn already center aligns everything
*/
.TornAdvancedprofile h1{
    padding: 0;
    line-height: 1.2;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: black;
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHg3eG5obnpqOXJmNG5vcjlqN2N4bnVlemVraDM4ejNlNWIwMTRudSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0MYDdL8WEgSXf41W/giphy.gif');
    background-size: contain;
    background-attachment: fixed;
    text-shadow: 2px 2px whitesmoke;
}
.TornAdvancedprofile p{
margin: 0;
padding: 0;
text-align: center;
font-size: 20px;
background-color: gray;
color: whitesmoke;
}
.TornAdvancedprofile a{
    color: burlywood;
}
.TornAdvancedprofile a:hover {
    cursor: pointer;
    color: yellow;
    font-weight: bold;
}
/*
Example css above.

*/
